@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
	background: linear-gradient(90deg, rgba(0, 39, 152, 1) 5%, rgba(0, 242, 255, 1) 35%, rgba(0, 255, 111, 1) 50%, rgba(246, 227, 0, 1) 65%, rgba(255, 0, 0, 1) 95%);
}

.end:after,
.end:before,
.start:after,
.start::before {
	content: "";
	position: absolute;
	background: transparent;

	width: 1rem;

	bottom: 0;
	height: 0.5rem;
}

.start:after,
.start::before {
	box-shadow: -0.5rem 0 0 0 rgb(55 65 81 / var(--tw-bg-opacity));
	right: -1rem;
}

.end:after,
.end::before {
	left: -1rem;
	box-shadow: 0.5rem 0 0 0 rgb(55 65 81 / var(--tw-bg-opacity));
}

.start:after {
	top: 0;
	border-top-left-radius: 0.5rem;
}
.start::before {
	bottom: 0;
	border-bottom-left-radius: 0.5rem;
}

.end:after {
	top: 0;
	border-top-right-radius: 0.5rem;
}
.end::before {
	bottom: 0;
	border-bottom-right-radius: 0.5rem;
}

.glassBackground {
	/* From https://css.glass */
	background: rgba(220, 220, 220, 0.3);

	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.56);
}

.cardGlassBackground {
	/* From https://css.glass */
	background: rgba(59, 130, 246, 0.9);

	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.3px);
	-webkit-backdrop-filter: blur(5.3px);
}

.hoverGlassBackground {
	/* From https://css.glass */
	background: rgba(220, 220, 220, 0.1);

	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);

	transition: ease-out all 0.3s;
}

.hoverGlassBackground:hover {
	/* From https://css.glass */
	background: rgba(220, 220, 220, 0.3);

	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.56);
}
